<!--- SettingsButton ---> <li data-id="null" style="display: list-item;"><a class="icon-settings" title="Access LMS Refined Tool Settings" id="btnSettingsPage"><span>Settings</span></a></li>,
<!--- CreditsButton ---> <li><a id="FootnoteCredits">LMS Refined by Josh 11Y</a></li>
