<!-- [LMS Refined] Credits Recognition -->
<div id="credits" style="display: none;">
<div class="small-12 island" >
	<h1>LMS Refined Tool Disclaimer:</h1>
	<section class="content">
		<div id="creditsContained">
			<article>
				<p>The purpose of this tool is to allow a greater amount of customisatibility than previously available and to give a better overall user experience.</p>
				<p>This tool is not in any breach of the provided "MazCom Guidelines of Use and Privacy Policy". Rather this is a privately developed tool that is used for education.</p>
				<p>It is understanded that the LMS Solution is commerical (Schoolbox) in which it is not breaching any extended policies as this is a private tool that is not managed by the on-site technical departement and those policies relate to the modification of the actual Solution. This tool only modifies after the client is served, therefore it can be considered within the same class as a browser addon/extension. As it manipulates already received information, meaning that it does not breach on any of the rights.</p>
				<p>Project founder and creator note: This tool was founded to extend my knowledge on High level programming languages such as JavaScript, HTML and CSS. The intent of this tool is fundamentally for research</p>
				<p>Under the Copyright Act 1968, this work bids in favour of the Fair Dealing. For use in educational and research purposes.</p>
				<p>LMS Refined by Echo2124</p>
			</article>
		</div>
	</section>
</div>
<button id="btnCreditsReturn" type="button">Return Home</button>
</div>