<!-- SettingsGUI Userland -->	 
<div id="settings" style="display:none;">
	<label for="ToolStatus">LMS Refined Status:</label>
	<textarea id="StatusIndicator" name = "ToolStatus" rows="8" cols="50"></textarea>
	<label for="ToolStatus">LMS Refined:</label>
	<select id = "cbxToolStatus" name = "EnableTool">
			<option value = "0" selected>Enabled</option>
			<option value = "1">Disabled</option>
	</select>
	<label for="ParentLayout">Layout:</label>
		<select id = "cbxParentLayout" name = "ParentLayout">
			<option value = "0" selected>Default</option>
			<option value = "1">Fixed</option>
	</select>
	<label for="HybridBarTheme">Hybrid Bar Theme:</label>
		<select id = "cbxHybridBarTheme" name = "HybridBarTheme">
			<option value = "0" selected>Default</option>
			<option value = "1">Blue Gradient</option>
			<option value = "2">Red Gradient</option>
			<option value = "3">Green Gradient</option>
			<option value = "4">Orange Gradient</option>
			<option value = "5">Rainbow Gradient</option>
	</select>
	<label for="NotificationTheme">Notification Icon Theme:</label>
		<select id = "cbxNotificationTheme" name = "NotificationTheme">
			<option value = "0" selected>Default</option>
			<option value = "1">Red Gradient</option>
			<option value = "2">Green Gradient</option>
			<option value = "3">Orange Gradient</option>
	</select>
	<label for="AppendFixes">Extra Fixes:</label>
	<select id = "cbxAppendFixes" name = "AppendFixes">
			<option value = "0" selected>Default</option>
			<option value = "1">Recommended Fixes</option>
	</select>
	<label for="SearchBarOpt">Search Bar Transparancy:</label>
	<select id = "cbxSearchBar" name = "SearchBarOpt">
			<option value = "0" selected>Default</option>
			<option value = "1">Enabled</option>
	</select>
	<label for="CleanElements">Remove Unnecessary Elements:</label>
	<select id = "cbxCleanElements" name = "CleanElements">
			<option value = "0" selected>Default</option>
			<option value = "1">Enabled</option>
	</select>
	<label for="SSOAppend">Embed SSO:</label>
	<select id = "cbxSSOAppend" name = "SSOAppend">
			<option value = "0" selected>Disabled</option>
			<option value = "1">Enabled</option>
	</select>
	<label for="WidgetStatus">Widgets Status:</label>
	<select id = "cbxWidgets" name = "WidgetStatus">
		<option value = "0" selected>Disabled</option>
		<option value = "1">Enabled</option>
	</select>
	<label for="NotesStatus">Notes:</label>
		<select id = "cbxNotes" name = "NotesStatus">
		<option value = "0" selected>Disabled</option>
		<option value = "1">Enabled</option>
	</select>
		<label for="P7Status">Fix Period 7:</label>
		<select id = "cbxPeriod7" name = "P7Status">
		<option value = "0" selected>Disabled</option>
		<option value = "1">Enabled</option>
	</select>
	<button id="btnSettingsApply" type="button">Save Changes</button>
	<button id="btnSettingsReturn" type="button">Return Home</button>
</div>