<!-- Widgets Userland -->
<a class="weatherwidget-io" href="https://forecast7.com/en/n37d93145d17/mulgrave/" data-label_1="MULGRAVE" data-font="Open Sans" data-icons="Climacons Animated" data-mode="Current" data-days="3" data-theme="sky" data-basecolor="#0066b0" >MULGRAVE</a>
	<script>
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
	</script>